.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;
    width: 100%;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }
}